<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://kit.fontawesome.com/4aac1b864c.js"
	crossorigin="anonymous"></script>

<style type="text/css">
td, th, tr, thead {
	border: solid 2px black;
}

a {
	text-decoration: none;
	color: white
}
</style>



<title>Pagina Inicial</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light"
		style="background-color: #4169E1;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <img alt=""
				src="https://seeklogo.com/images/M/medicina-logo-886CC8F59D-seeklogo.com.png"
				width="50px">
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav"
					style="margin: auto; font-size: 22px; color: white">
					<li class="nav-item" style="padding: 10px"><a
						class="nav-link active" aria-current="page" th:href="@{'/'}">
							<i class="fas fa-home"></i> Inicio
					</a></li>
					<li class="nav-item" style="padding: 10px"><a
						class="nav-link active" aria-current="page"
						th:href="@{'listarAgenda'}" style="color: white;"><i
							class="fas fa-user-check"> </i> Consultar</a></li>
					<li class="nav-item" style="padding: 10px"><a
						class="nav-link active" aria-current="page"
						th:href="@{/agendarExame}" style="color: white;"><i
							class="fas fa-clipboard-list"></i> Agendar</a></li>

				</ul>
			</div>
		</div>
	</nav>

	<h1>Pagina Inicial em Construção</h1>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>



</body>
</body>
</html>